body {
    color: #777;
    font-family: sans-serif;
    line-height: 1.15;
}

@media (max-width: 769px) {
    .page {
        padding: 0 !important;
    }
}

.page {
    padding: 2em 8rem;
    padding-top: 0;
    max-width: 100vw;
}

.archive {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    grid-gap: 2em;
}

.article {
    padding: 1em;
}
